In [ ]:
import itertools
import numpy as np
import pandas as pd
from pandas import Series
import datetime as dt
import numpy as np
from itertools import product

In [2]:
# initialize list of lists
data = [['jack', 33], ['nicky', 42], ['jules', 28]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])
  
# print dataframe.
df

    Name  Age
0   jack   33
1  nicky   42
2  jules   28

In [3]:
#logical operators numeric
df[df.Age > 30]

    Name  Age
0   jack   33
1  nicky   42

In [4]:
#Logical operators string
df[df.Name == 'jack']

   Name  Age
0  jack   33

In [5]:
#combining multiple logical operators
df[(df.Age > 29) & (df.Age <= 40)]

   Name  Age
0  jack   33